<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>living_services</string>
		<key>types</key>
		<array>
			<string>bakery</string>
			<string>bank</string>
			<string>bus_station</string>
			<string>car_rental</string>
			<string>car_repair</string>
			<string>car_wash</string>
			<string>convenience_store</string>
			<string>dentist</string>
			<string>doctor</string>
			<string>electrician</string>
			<string>florist</string>
			<string>food</string>
			<string>grocery_or_supermarket</string>
			<string>hair_care</string>
			<string>hardware_store</string>
			<string>laundry</string>
			<string>locksmith</string>
			<string>meal_delivery</string>
			<string>meal_takeaway</string>
			<string>movie_rental</string>
			<string>parking</string>
			<string>pharmacy</string>
			<string>plumber</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>sports_and_fitness</string>
		<key>types</key>
		<array>
			<string>bowling_alley</string>
			<string>gym</string>
			<string>health</string>
			<string>physiotherapist</string>
			<string>stadium</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>shopping</string>
		<key>types</key>
		<array>
			<string>book_store</string>
			<string>clothing_store</string>
			<string>department_store</string>
			<string>electronics_store</string>
			<string>furniture_store</string>
			<string>home_goods_store</string>
			<string>jewelry_store</string>
			<string>shoe_store</string>
			<string>shopping_mall</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>recreation</string>
		<key>types</key>
		<array>
			<string>amusement_park</string>
			<string>aquarium</string>
			<string>art_gallery</string>
			<string>bar</string>
			<string>beauty_salon</string>
			<string>cafe</string>
			<string>campground</string>
			<string>casino</string>
			<string>movie_theater</string>
			<string>night_club</string>
			<string>painter</string>
			<string>spa</string>
			<string>zoo</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>commercial_facilities</string>
		<key>types</key>
		<array>
			<string>accounting</string>
			<string>bicycle_store</string>
			<string>car_dealer</string>
			<string>finance</string>
			<string>general_contractor</string>
			<string>insurance_agency</string>
			<string>lawyer</string>
			<string>liquor_store</string>
			<string>lodging</string>
			<string>moving_company</string>
			<string>pet_store</string>
			<string>real_estate_agency</string>
			<string>restaurant</string>
			<string>roofing_contractor</string>
			<string>storage</string>
			<string>travel_agency</string>
			<string>veterinary_care</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>public_facilities</string>
		<key>types</key>
		<array>
			<string>airport</string>
			<string>atm</string>
			<string>cemetery</string>
			<string>city_hall</string>
			<string>courthouse</string>
			<string>embassy</string>
			<string>fire_station</string>
			<string>funeral_home</string>
			<string>gas_station</string>
			<string>hospital</string>
			<string>library</string>
			<string>local_government_office</string>
			<string>museum</string>
			<string>park</string>
			<string>police</string>
			<string>post_office</string>
			<string>rv_park</string>
			<string>school</string>
			<string>subway_station</string>
			<string>taxi_stand</string>
			<string>train_station</string>
			<string>university</string>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>religious_institutions</string>
		<key>types</key>
		<array>
			<string>church</string>
			<string>hindu_temple</string>
			<string>mosque</string>
			<string>place_of_worship</string>
			<string>synagogue</string>
		</array>
	</dict>
</array>
</plist>
